@charset"UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body { 
    background-color: beige;
}

header{
    background-color: rgba(0, 0, 0, 0.348);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header p{
    padding: 15px;
}

header p > a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

header p > a:hover{
    text-decoration: underline;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-gmail {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(193, 254, 234);
    width: 500px;
    height: 200px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.263);
}

.button-gmail p{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bolder;
}